fastapi>=0.110.0
uvicorn[standard]>=0.27.0
python-dotenv>=1.0.0
pymongo>=4.6.0
pydantic>=2.0.0
pydantic-settings>=2.0.0
motor>=3.3.0
python-multipart>=0.0.9
requests>=2.31.0
pandas>=2.0.0
numpy>=1.24.0
opencv-python-headless==4.9.0.80
scikit-image>=0.22.0
pillow>=10.0.0
matplotlib>=3.8.0
scipy>=1.13.0
scikit-learn>=1.4.2

# Force redeploy  
